.blips {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: max-content max-content;
  grid-template-columns: min-content auto;
  width: 100%;
}

.list-group {
  min-height: 70px;
  margin-bottom: 1em;
}

.list-group > li > span {
}

.blip-list {
  min-width: 30vw;
  max-height: 75vh;
  overflow-y: scroll;
}

.blips-list-label {
  font-weight: 500;
  padding: 10px 19px;
  text-align: center;
}

.list-grid-blips {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 1;
}

.rings-list {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1em;
}

.ring-name-grid {
  width: 100%;
  display: grid;
}

.ring-left-btn {
  grid-row: 1;
  grid-column: 1;
}

.delete-ring-btn {
  grid-row: 1;
  grid-column: 2;
}


.ring-right-btn {
  grid-row: 1;
  grid-column: 3;
}

.ring-name {
  width: 100%;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.sectors-list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 1em;
  grid-row: 2;
  grid-column: 2;
  max-height: 100%;
  height: fit-content;
  width: 100%;
  overflow: scroll;

  padding: 0.5em 0;
  border-style: groove;
  border-right: 0px;
  border-left: 0;
  border-width: thin;
}

.list-grid {
  display: grid;
  grid-row-gap: 0.5em;
  height: fit-content;
  max-height: 100%;
  width: 100%;
  max-width: 30vw;
}

.list-buttons {
  display: grid;
}

.sector-left-btn {
  grid-row: 1;
  grid-column: 1;
}

.delete-sector-btn {
  grid-row: 1;
  grid-column: 2;
}

.sector-right-btn {
  grid-row: 1;
  grid-column: 3;
}

.sector-name {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.new-buttons-grid {
  display: grid;
  grid-auto-flow: column;
}

.new-sector-btn-label {
  margin-left: 1em;
}

.new-ring-btn-label {
  margin-left: 1em;
}

.new-sector-btn {
  height: fit-content;
}

.new-ring-btn {
  height: fit-content;
}

.theme-0 {
  background-color: var(--valencia);
}

.theme-1 {
  background-color: var(--apricot);
}

.theme-2 {
  background-color: var(--puerto-rico);
}

.theme-3 {
  background-color: var(--cornflower-blue);
}

.theme-4 {
  background-color: var(--victoria);
}