.new-blips-grid {
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    grid-row-gap: 1em;
    overflow: auto;
}

.new-blips-table {
    display: block;
    overflow-x: auto;
}

.new-blip-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}

.my-blips-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}

.blip-buttons-legend-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}

.blip-buttons-grid {
    width: fit-content;
    justify-self: center;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
}

.select-blip-list {
}

.blip-edit-grid {

}

.blip-edit-meta {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
}

.blip-edit-column {

}

.add-column-grid {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-column-gap: 1em;
    grid-template-columns: auto min-content;
}

th {
    padding: 0 1em;
}

.table-cell {
    border: inset;
    border-width: thin;
    padding: 0.25em 1em;
}

.view-table-cell {
    max-height: 10em;    
    overflow: auto;
}

table input.form-control {
    box-shadow: none;
    padding: 0 0.5em;
}

.all-blips-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}

.all-blips-table {
    display: block;
    overflow-x: auto;
}

.fit-width {
    width: fit-content;
    white-space: nowrap;
}

.new-blips-table-column {
    min-width: 150px;
}

.blips-change-authors-button {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}