.button-legend {
    width: fit-content;

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;

    font-size: x-small;
    justify-self: center;
}

.button-legend-row {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: .5em;

    align-items: center;
}