.radars {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    grid-column-gap: 2em;
}

.radars > * {
    padding-left: 1em;
    border-left-width: thin;
    border-left-style: groove;
}

.new-radar {
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: max-content;
    justify-content: flex-start;
}

.radars-list {
    display: grid;
    grid-template-rows: min-content auto;
    margin-bottom: 1em;
}

.radar-list-group {
    width: fit-content;
    overflow-y: scroll;
}

.radar-item {
    display: grid;
    grid-template-areas:
        "radar-label radar-view radar-edit radar-delete";
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
}

.radar-label {
    grid-area: radar-label;
    font-weight: bold;
}

.radar-view {
    grid-area: radar-view;
}

.radar-edit {
    grid-area: radar-edit;
}

.radar-delete {
    grid-area: radar-delete;
    cursor: pointer;
}

.radar-editor-item {
    width: 100%;
    height: max-content;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto min-content;

    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 0;
}

.radar-editor-item > label {
    margin-bottom: 0;
    margin-right: 1em;
}