.new-radar {
    display: grid;
    grid-auto-rows: 55vh auto;
}

.radars-list {
    display: grid;
    grid-template-rows: min-content auto;
    margin-bottom: 1em;
}

.radar-list-group {
    width: fit-content;
    overflow-y: scroll;
}

.radar-item {
    display: grid;
    grid-template-areas:
        "radar-label radar-view radar-edit radar-delete";
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
}

.radar-label {
    grid-area: radar-label;
    font-weight: bold;
}

.radar-view {
    grid-area: radar-view;
}

.radar-edit {
    grid-area: radar-edit;
}

.radar-delete {
    grid-area: radar-delete;
    cursor: pointer;
}

.radar-editor-item {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}