.submit-radar-button-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}

.submit-btn {
    max-width: fit-content;
    padding-left: 5em;
    padding-right: 5em;
    justify-self: center;
}