.themes-metadata {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content auto;
}

.themes-metadata-left {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.themes-select {
    display: grid;
    height: fit-content;
}

.themes-permissions {
    height: fit-content;
}

.form-group-grid {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
    grid-template-columns: max-content auto;
}

.selected-theme {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 0.5em;
}

.create-theme {
    display: grid;
    width: fit-content;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}

.buttons-legend-grid {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 1em;
}

.buttons-grid {
    width: fit-content;
    justify-self: center;
    
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1em;
}

.duplicate-theme {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 0.5em;
}